.bar {
  padding: 0.2rem;
  box-sizing: border-box;
  width: 100%;
  display: none;
  background: rgb(var(--background-secondary-rgb) / 0.95);
  border-radius: 1rem;
}

.list {
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.visible {
  display: flex;
}

.message {
  margin: 1.6rem;
  opacity: 0.5;
}
