.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;

    label {
      margin-bottom: 0.4375rem;
    }

    input {
      padding: 1rem;
      background: rgb(var(--background-secondary-rgb));
      border: none;
      border-radius: 10px;
      outline-color: rgb(var(--brand-rgb));
      color: rgb(var(--font-rgb));
    }
  }

  p {
    font-size: 0.875rem;
    margin: 0 0 1rem;
    color: #c71414;
    font-weight: bold;
  }

  button {
    border: none;
    background: rgb(var(--background-secondary-rgb));
    padding: 0.9375rem 1.25rem;
    border-radius: 10px;
    color: rgb(var(--brand-secondary-rgb));
    cursor: pointer;
  }
}
