.preloader {
  width: 100%;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader_fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgb(var(--background-rgb));
}

.spinner {
  width: 1em;
  height: 1em;
  font-size: 0.75rem;
  border-radius: 50%;
  animation: spin 1.1s infinite ease;
}

$box-shadow-pos-1: 0em -2.6em 0em 0em;
$box-shadow-pos-2: 1.8em -1.8em 0 0em;
$box-shadow-pos-3: 2.5em 0em 0 0em;
$box-shadow-pos-4: 1.75em 1.75em 0 0em;
$box-shadow-pos-5: 0em 2.5em 0 0em;
$box-shadow-pos-6: -1.8em 1.8em 0 0em;
$box-shadow-pos-7: -2.6em 0em 0 0em;
$box-shadow-pos-8: -1.8em -1.8em 0 0em;

$rgba-100: rgb(var(--font-rgb));
$rgba-70: rgb(var(--font-rgb) / 0.7);
$rgba-50: rgb(var(--font-rgb) / 0.5);
$rgba-20: rgb(var(--font-rgb) / 0.2);

@keyframes spin {
  0%,
  100% {
    box-shadow:
      $box-shadow-pos-1 $rgba-100,
      $box-shadow-pos-2 $rgba-20,
      $box-shadow-pos-3 $rgba-20,
      $box-shadow-pos-4 $rgba-20,
      $box-shadow-pos-5 $rgba-20,
      $box-shadow-pos-6 $rgba-20,
      $box-shadow-pos-7 $rgba-50,
      $box-shadow-pos-8 $rgba-70;
  }

  12.5% {
    box-shadow:
      $box-shadow-pos-1 $rgba-70,
      $box-shadow-pos-2 $rgba-100,
      $box-shadow-pos-3 $rgba-20,
      $box-shadow-pos-4 $rgba-20,
      $box-shadow-pos-5 $rgba-20,
      $box-shadow-pos-6 $rgba-20,
      $box-shadow-pos-7 $rgba-20,
      $box-shadow-pos-8 $rgba-50;
  }

  25% {
    box-shadow:
      $box-shadow-pos-1 $rgba-50,
      $box-shadow-pos-2 $rgba-70,
      $box-shadow-pos-3 $rgba-100,
      $box-shadow-pos-4 $rgba-20,
      $box-shadow-pos-5 $rgba-20,
      $box-shadow-pos-6 $rgba-20,
      $box-shadow-pos-7 $rgba-20,
      $box-shadow-pos-8 $rgba-20;
  }

  37.5% {
    box-shadow:
      $box-shadow-pos-1 $rgba-20,
      $box-shadow-pos-2 $rgba-50,
      $box-shadow-pos-3 $rgba-70,
      $box-shadow-pos-4 $rgba-100,
      $box-shadow-pos-5 $rgba-20,
      $box-shadow-pos-6 $rgba-20,
      $box-shadow-pos-7 $rgba-20,
      $box-shadow-pos-8 $rgba-20;
  }

  50% {
    box-shadow:
      $box-shadow-pos-1 $rgba-20,
      $box-shadow-pos-2 $rgba-20,
      $box-shadow-pos-3 $rgba-50,
      $box-shadow-pos-4 $rgba-70,
      $box-shadow-pos-5 $rgba-100,
      $box-shadow-pos-6 $rgba-20,
      $box-shadow-pos-7 $rgba-20,
      $box-shadow-pos-8 $rgba-20;
  }

  62.5% {
    box-shadow:
      $box-shadow-pos-1 $rgba-20,
      $box-shadow-pos-2 $rgba-20,
      $box-shadow-pos-3 $rgba-20,
      $box-shadow-pos-4 $rgba-50,
      $box-shadow-pos-5 $rgba-70,
      $box-shadow-pos-6 $rgba-100,
      $box-shadow-pos-7 $rgba-20,
      $box-shadow-pos-8 $rgba-20;
  }

  75% {
    box-shadow:
      $box-shadow-pos-1 $rgba-20,
      $box-shadow-pos-2 $rgba-20,
      $box-shadow-pos-3 $rgba-20,
      $box-shadow-pos-4 $rgba-20,
      $box-shadow-pos-5 $rgba-50,
      $box-shadow-pos-6 $rgba-70,
      $box-shadow-pos-7 $rgba-100,
      $box-shadow-pos-8 $rgba-20;
  }

  87.5% {
    box-shadow:
      $box-shadow-pos-1 $rgba-20,
      $box-shadow-pos-2 $rgba-20,
      $box-shadow-pos-3 $rgba-20,
      $box-shadow-pos-4 $rgba-20,
      $box-shadow-pos-5 $rgba-20,
      $box-shadow-pos-6 $rgba-50,
      $box-shadow-pos-7 $rgba-70,
      $box-shadow-pos-8 $rgba-100;
  }
}
