.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 370px;
  width: 100%;

  border: 1px solid rgb(var(--brand-secondary-rgb) / 0.6);
  border-radius: 10px;

  h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2.8125rem;
  }

  a {
    text-decoration: none;
    color: rgb(var(--brand-secondary-rgb));
  }
}
