@import url('@vendor/normalize.css');
@import url('@vendor/fonts/inter/fonts.css');

:root {
  --font-rgb: 20 20 20;
  --background-rgb: 245 245 245;
  --background-secondary-rgb: 229 229 229;

  --brand-rgb: 50 50 110; // rgb(50 50 110)
  --brand-secondary-rgb: 95 95 186; // rgb(95 95 186)

  --background-linear: linear-gradient(
    rgb(214 214 237),
    rgb(228 228 250),
    rgb(176 176 232)
  );

  @media (prefers-color-scheme: dark) {
    --font-rgb: 225 225 225;
    --background-rgb: 20 20 20;
    --background-secondary-rgb: 38 38 38;

    --brand-rgb: 178 178 255; //rgb(178 178 255)
    --brand-secondary-rgb: 157 157 255; //rgb(157 157 255)

    --background-linear: linear-gradient(
      rgb(46 46 71),
      rgb(18 18 36),
      rgb(34 34 82)
    );
  }
}

html {
  font-size: 16px;

  @media (max-width: 680px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: rgb(var(--font-rgb));
  background: rgb(var(--background-rgb));
}
